@media (max-width: 1265px) {
  .reviews-slider .slick-list {
    margin: 0;
  }
  .reviews-slider .slick-slide {
    margin: 0;
  }
  .reviews-box {
    box-shadow: none;
  }
}

@media (max-width: 1160px) {
  .price__items {
    flex-wrap: wrap;
  }
  .price-item {
    max-width: 48%;
    margin-bottom: 50px;
  }
  .price-item__number {
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

@media (max-width: 1120px) {
  .top-info {
    max-width: 465px;
  }
}
@media (max-width: 1106px) {
  .reviews-slider {
    margin-top: 60px;
  }
  .reviews-box {
    margin: 0 auto;
    max-width: 520px;
  }

}

@media (max-width: 1024px) {
  .top-info {
    max-width: 390px;
  }
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer-col__logo {
    width: 100%;
    margin-bottom: 30px;
}
}
@media (max-width: 992px) {
  .menu__list {
    display: none;
    position: absolute;
    top: 87px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #000;
    z-index: 5;
  }
  .menu__list li {
    margin-left: 0;
  }
  .menu__list a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #000;
    background-color: #fff;
  }
  .btn__menu {
    display: block;
  }
}

@media (max-width: 940px) {
  .top-info {
    max-width: 325px;
  }
}
@media (max-width: 880px) {
  .top-images__box img {
    width: 300px;
  }
  .top-images__circle {
    width: 165px;
    height: 165px;
    top: -30px;
    right: -30px;
  }
}

@media (max-width: 740px) {
  .top__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .top-info {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 75px;
  }
  .top,
  .reviews,
  .price {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .price-item {
    max-width: 100%;
  }
  .footer-form {
    width: 100%;
    margin-top: 30px;
}
.footer__inner {
    justify-content: flex-start;
}
}

@media (max-width: 399px) {
  .reviews-box {
    display: block;
  }
  .reviews-box__images {
    width: 100%;
    min-height: 200px;
  }
  .reviews-box__content {
    width: 100%;
    padding: 20px;
    min-height: 260px;
  }
  .reviews-slider .slick-slide {
    padding-bottom: 25px;
  }
}


@media (max-width: 399px) {
  .top-info__title {
    font-size: 40px;
    line-height: 42px;
  }
  .title {
    font-size: 36px;
    line-height: 40px;
  }
  .price__descr {
    margin: 36px auto 50px;
  }
  .price {
    margin-top: 55px;
  }
  .price-item {
    padding: 0 20px 60px;
  }
  .footer-menu {
    margin-bottom: 30px;
    width: 100%;
  }
}

@media (max-width: 380px) {
  .top-images__box img {
    width: 250px;
  }
  .top-images__circle {
    width: 120px;
    height: 120px;
    top: -30px;
    right: -30px;
  }
  .top-images__price {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .top-images__data {
    text-align: center;
  }
  .top-images__title {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .menu__list {
    display: flex !important;
  }
  .top-images__circle {
    top: -5px;
    right: 10px;
  }
  .footer-form {
    margin-top: 0;
}
}
